
/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-bottom: 20px;
}

.flexbox{
    display: flex;
}

.box{
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #006CFA;
  border: 1px solid white;
  
}
  
.color{
    background-color: green;
    color: white;
    padding: 20px 0px;
    text-align: center;
    border: 1px solid  #006CFA;

}

.green-box-2{
    width: calc((100% / 12) * 2);
}

.green-box-6{
    width: calc((100% / 12) * 6)
}

.green-box-8{
    width: calc((100% / 12) * 8)
}
  


